<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Node app</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Index</a></li>
        <li><a href="/items">Items</a></li>
        <li><a href="/add">Add</a></li>
      </ul>
    </div>
  </nav>