<nav>
    <div class="nav-wrapper" style="background-color:cornflowerblue;padding-right: 25px;
    padding-left: 25px;">
      <a href="#" class="brand-logo">Node app</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Index</a></li>
        <li><a href="/items">Items</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav>