.nav-wrapper {
    background-color:rgb(51, 53, 146);
    padding: 0 2rem;
}
.price {
   font-size: 1.5rem; 
}

.item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item h1 {
    margin-bottom: 2rem;
}

.item img{
    max-width: 500px;
    height: auto;
}

.item.price{
    font-size: 2.5rem;
}
.card-action.actions{
    display: flex;
    align-items: center;
    vertical-align:middle;
    justify-content: space-between;
}
.auth{
    padding-top: 2rem;
}
.alert{
    padding: .5rem 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    background: crimson;
    color: rgb(255, 255, 255);
}