.nav-wrapper {
    background-color:rgb(51, 53, 146);
    padding: 0 2rem;
}
.price {
   font-size: 1.5rem; 
}

.item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item h1 {
    margin-bottom: 2rem;
}

.item img{
    max-width: 500px;
    height: auto;
}

.item .price{
    font-size: 2.5rem;
}